body {
  background-color: #333;
  color: #fff;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  margin: 0;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.content .line {
  opacity: 0;
  visibility: hidden;
}

.content .line.visible {
  animation: fade-in 1s forwards;
  visibility: visible;
}


.content.visible {
  animation: fade-in 1s forwards;
  visibility: visible;
  pointer-events: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Im a femboy
nigga..
*/
